---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header";
const { title, slug, shortDescription } = Astro.props;
import '@fontsource-variable/inter';
---
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VYTGK4GDJ0"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-VYTGK4GDJ0');
		</script>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property='og:description' content={shortDescription} />
		<meta property="og:url" content=`https://akashnp.dev/blog/${slug}` />
		<meta property="og:image" content="/android-chrome-400x400.png" />
    <ViewTransitions />
		<link rel="stylesheet" href="/style.css">
		<script>
			const handleOnMouseMove = (e) => {
				const { currentTarget: target } = e;
			
				const rect = target.getBoundingClientRect(),
					x = e.clientX - rect.left,
					y = e.clientY - rect.top;
				
				target.style.setProperty("--mouse-x", `${x}px`);
				target.style.setProperty("--mouse-y", `${y}px`);
			}
			
			const cards = document.getElementsByClassName("card");
			for ( const card of cards) {
				card.onmousemove = e => handleOnMouseMove(e);
			}
		</script>
	</head>
	<body>
		<main class="flex px-8 md:px-0 bg-white dark:bg-neutral-900 text-black dark:text-white">
			<div class="mx-auto w-full md:w-4/6 min-h-screen">
				<Header client:load />
				<slot/>
			</div>
		</main>
    </body>
</html>